<div class="collection-list-container-{{ section.id }}">
  {% for block in section.blocks %}
    <a href="{{ block.settings.collection_link }}" class="collection-link-{{ section }}">
      <img
        class="collection-image-{{ section.id }}"
        src="{{block.settings.collection_img | image_url:''}}"
        alt=""
        width="auto"
        height="auto"
      >
    </a>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Custom Collection List",
  "settings": [],
  "blocks": [
    {
      "type": "collection-list",
      "name": "collection",
      "settings": [
        {
          "type": "image_picker",
          "id": "collection_img",
          "label": "Select Image"
        },
        {
          "type": "url",
          "id": "collection_link",
          "label": "Select Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Collection List"
    }
  ]
}
{% endschema %}
